body{
	background-color: #E9EBEE;
	font-family: Arial, "Hiragino Sans GB", 冬青黑, "Microsoft YaHei", 微軟雅黑, Heiti, 黑體;
	font-size: 16px;
	line-height: 2.1;
}
#menubar.navbar {
  margin-bottom: 0px;
}

/*Profile*/
#profile { 
    color: #ffffff;
    background: url("../images/bg.jpg");
    background-size:cover;
    padding-left: 0px;
    padding-right: 0px;
}
#profile .banner{ 
    background: url("../images/dott.png")repeat 0px 0px;
    padding:20px 60px;
}
#profile .detail{
	border-top: 1px solid #AFAFAF;
}
#profile .detail ul{
	padding: 0px;
	margin: 0px;
}
#profile .detail_text li{
	display: inline-block;
}
#profile .detail_text li:nth-child(1){
	width: 30%;
	font-weight: bold;
}
@media only screen and (max-width:640px){
	#profile .banner{ 
    	padding:20px 20px;
	}
}
/*About me*/
#aboutMe .pill_container{
	background-color: #2f2f2f;
	text-align: center;
	margin-bottom: 20px;
}
#aboutMe .nav>li{ /*center*/
	float:none;
	display: inline-block;
}
#aboutMe .nav-pills>li.active>a,#aboutMe .nav-pills>li.active>a:focus,#aboutMe .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #3B5998;
}
#aboutMe .nav-pills>li{
	width: 200px;
	text-align: center;
}
#aboutMe .nav-pills>li>a {
    border-radius: 4px;
}

/*Education、Experience*/
#education .row, #experience .row{
	margin-left: 5%;
	border-left: 1px solid #999;
}
#education .row:hover .glyphicon,#experience .row:hover .glyphicon{
	color: #F7E612;
	transform: scale(1.2);
}
#education .edu_left,#education .edu_right,#experience .exp_left,#experience .exp_right{
	display:inline-block
}
#education .glyphicon,#experience .glyphicon{
	color: #ffffff;
	background: #3B5998;
	padding: 10px;
	border-radius: 70%;
	transition: .3s all;
	position: relative;
	left: -20px;
}
#education .edu_range:before,#experience .exp_range:before{
	content: "";
	width:0px;
    height:0px;
    border-width: 10px 20px 10px 10px;
    border-style:solid;
    border-color:transparent #3B5998 transparent transparent;
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
}
#education .edu_range,#experience .exp_range{
	background: #3B5998;
	padding: 0.6em 1.2em;
	color: #ffffff;
}
#education .edu_left h4,#experience .exp_left h4{
	padding-left: 40px;
}
#education .panel-group,#experience .panel-group{
	margin-left: 40px;
	margin-right: 5%;
}

/*Experience*/
#experience a{
	text-decoration: none;
}

/*My Projects*/
#myProjects .carousel-indicators li {
    width: 18px;
    height: 18px;
    margin: 0px 5px -15px 5px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
#myProjects .carousel-indicators .active,#myProjects .carousel-indicators li:hover  {
    width: 18px;
    height: 18px;
	background: -moz-linear-gradient(45deg, rgba(35,83,138,1) 0%, rgba(53,92,137,1) 48%, rgba(167,207,223,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(35,83,138,1) 0%,rgba(53,92,137,1) 48%,rgba(167,207,223,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(35,83,138,1) 0%,rgba(53,92,137,1) 48%,rgba(167,207,223,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#myProjects .carousel-control.right,#myProjects .carousel-control.left {
    background-image: none;
    color: #3B5998;
}
#myProjects .carousel-caption span{
	text-shadow: 0 0px 0px rgba(0,0,0,.0);
	/*background-color: rgba(0,0,0,0.7);*/
	background-color: rgba(35,83,138,0.7);
	padding: 3px;
}
#myProjects .carousel-inner .item img, 
#myProjects .carousel-inner .item a img{
	width: 80%; /* use this, or not */
	margin: auto;
}

/*Hobbies*/
#hobbies .pill_container{
	background-color: #2f2f2f;
	text-align: center;
}
#hobbies .nav>li{ /*center*/
	float:none;
	display: inline-block;
}
#hobbies .nav-pills>li.active>a, #hobbies .nav-pills>li.active>a:focus, #hobbies .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #3B5998;
}
#hobbies .nav-pills>li{
	width: 200px;
	text-align: center;
}
#hobbies .nav-pills>li>a {
    border-radius: 4px;
}
#hobbies .thumbnail {
    text-align: center;
}
#hobbies .thumbnail p {
    margin-top: 15px;
}
#hobbies .thumbnail img{
    text-align: center;
}	
#hobbies .tab-pane > p{
	padding-top: 20px;
	padding-bottom: 20px;
}
#hobbies #photoshop img:hover{
	border: 10px solid #2f2f2f;
	opacity: 0.7;
	cursor: pointer;
}

#aboutMe,#education,#experience,#myProjects,#hobbies{
	padding-top: 20px;
	padding-bottom: 20px;
}
#vimeo_video .close,#youtube_video .close,#modal_images .close{
	position: absolute;
	top:25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
	z-index: 1;
}
#vimeo_video .close .lr,#youtube_video .close .lr,#modal_images .close .lr{
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color:#fff;
	transform: rotate(45deg); 
}
#vimeo_video .close .rl,#youtube_video .close .rl,#modal_images .close .rl{
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color:#fff;
	transform: rotate(90deg); 
}
#toTop{
	text-decoration: none;
	position: fixed;
	bottom: 28px;
	right: 1%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png");
}
footer{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color:#2f2f2f; 
	color:#ffffff; 
}
.title{
	margin-bottom: 40px;
	text-align: center;
}
.title:after,.title:before{
	content: "";
	border: 4px double #c2c2c2;
	width: 15%;
	display: inline-block;
	margin: 9px 10px;
}
/*Affix effect*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}